@using MongoDB.Bson;
@using PainelAdmin.Models;
@using Microsoft.AspNetCore.Identity;
@inject UserManager<ApplicationUser> UserManager;
@inject SignInManager<ApplicationUser> SignInManager;

@{
    var usuarioEmail = User.Identity?.IsAuthenticated == true ? User.Identity.Name : null;
    var usuarioRole = User.IsInRole("ADM") ? "ADM" : null;
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CCZ</title>

    <!-- CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site/style-header.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site/style-footer.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link rel="icon" type="image/x-icon" href="~/img/dogo-argentino.png">
    @RenderSection("Styles", required: false)
</head>
<body>
    <header>
        <div class="head2"></div>
    </header>

    <nav class="navbar navbar-expand-xl bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img src="~/img/logo.png" alt="Logo" width="50" height="50" class="d-inline-block align-text-top"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link text-black" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="nav-item"><a class="nav-link text-black" asp-controller="Home" asp-action="Sobre">Sobre nós</a></li>
                    <li class="nav-item"><a class="nav-link text-black" asp-controller="Home" asp-action="FaleConosco">Fale conosco</a></li>
                    
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item"><a class="nav-link text-black" asp-controller="Pets" asp-action="MeusPets">Meus Pets</a></li>
                    }

                    @if (User.IsInRole("ADM"))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-black" asp-controller="Painel" asp-action="Index" target="_blank">Painel de Controle</a>
                        </li>
                    }
                </ul>

                <div class="container c-button">
                    <a asp-controller="Home" asp-action="QueroAdotar" class="btn btn-success max-width">Quero adotar</a>
                    <a href="/ajudar" class="btn btn-success max-width">Ajudar</a>

                    @if (!string.IsNullOrEmpty(usuarioEmail))
                    {
                        <a asp-controller="Account" asp-action="Logout" class="btn btn-success max-width">Sair</a>
                    }
                    else
                    {
                        <a asp-controller="Account" asp-action="Login" class="btn btn-success max-width">Entrar</a>
                    }
                </div>
            </div>
        </div>
    </nav>
    <div class="content">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
<footer class="footer">
    <section class="bg-green py-4 py-md-5 py-xl-8 border-top border-light">
        <div class="container overflow-hidden">
            <div class="row gy-4 gy-lg-0 justify-content-xl-between">
                <div class="col-12 col-md-4 col-lg-3 col-xl-2">
                    <div class="widget">
                        <a href="#">
                            <img src="~/img/brasão-barra.png" alt="Brasão" width="175" height="175" />
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-3 col-xl-2">
                    <div class="widget">
                        <h4 class="widget-title mb-4">Centro de Controle de Zoonoses</h4>
                        <address class="mb-4">BRB-246, Barra Bonita - SP, 17340-000, Brasil</address>
                        <p class="mb-1"><a class="link-light text-decoration-none" href="tel:+5514996620512">(14)99662-0512</a></p>
                        <p class="mb-0"><a class="link-light text-decoration-none" href="mailto:demo@yourdomain.com">demo@yourdomain.com</a></p>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-3 col-xl-2">
                    <div class="widget">
                        <h4 class="widget-title mb-4">Saiba mais</h4>
                        <ul class="list-unstyled">
                            <li class="mb-2"><a href="/sobre" class="link-light text-decoration-none">Sobre nós</a></li>
                            <li class="mb-2"><a href="/fale" class="link-light text-decoration-none">Fale Conosco</a></li>
                            <li class="mb-2"><a href="/ajudar" class="link-light text-decoration-none">Como ajudar</a></li>
                            <li class="mb-2"><a href="#" class="link-light text-decoration-none">Termos de uso</a></li>
                            <li class="mb-0"><a href="#" class="link-light text-decoration-none">Política de privacidade</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-lg-3 col-xl-4">
                    <div class="widget">
                        <h4 class="widget-title mb-4">Desenvolvedores</h4>
                        <p class="mb-4">Saiba mais sobre os desenvolvedores web que projetaram este site. Acesse a organização do github</p>
                        <a href="https://github.com/Adocao-Digital/projeto" class="btn btn-success" target="_blank">Clique aqui</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>