@model Dashboard.Models.ViewModels.CriarNoticiaViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Noticia</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Conteudo" class="control-label"></label>
                <input asp-for="Conteudo" class="form-control" />
                <span asp-validation-for="Conteudo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Foto"></label>
                <input asp-for="Foto" type="file" class="form-control" />
                <span asp-validation-for="Foto" class="text-danger" onchange="previewImage(event)"></span>
            </div>
            <div class="form-group">
                <br />
                <div class="mb-3">
                    <img id="imagePreview" src="#" alt="Imagem Preview" style="display: none; width: 100px; height: 100px; object-fit: cover;" />
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>
    function previewImage(event) {
        var reader = new FileReader();
        reader.onload = function () {
            var output = document.getElementById('imagePreview');
            output.src = reader.result;
            output.style.display = 'block';             }
        reader.readAsDataURL(event.target.files[0]);
    }
</script>