@model PainelAdmin.Models.ViewModels.EditarNoticiaViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Noticia</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <input asp-for="Id" type="hidden" class="form-control" />

            <div class="form-group">
                <input asp-for="IdEditor" type="hidden" class="form-control" />
            </div>
            <div class="form-group">
                <input asp-for="NomeEditor" type="hidden" class="form-control" />
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
         
            <div class="form-group">
                <label asp-for="Conteudo" class="control-label"></label>
                <textarea asp-for="Conteudo" class="form-control"></textarea>
                <span asp-validation-for="Conteudo" class="text-danger"></span>
            </div>
            <div class="form-group">

                <input asp-for="Foto" type="hidden" />

            </div>
            <div class="form-group">
                <label asp-for="FotoUpload" class="control-label"></label>
                <input asp-for="FotoUpload" class="form-control" type="file" accept=".jpg, .jpeg, .png, .gif, .webp, .tiff" onchange="previewImage(event)" />
                <span asp-validation-for="FotoUpload" class="text-danger"></span>
            </div>
    
          
            <div class="form-group">

                <br />
                <div class="mb-3">
                    <img id="imagePreview" src="@(!string.IsNullOrEmpty(Model.Foto) ? "/" + Model.Foto : "#")" alt="Imagem Preview" style="max-width: 100%; height: auto;" />
                </div>

            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="NoticiasAtuais">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>
    function previewImage(event) {
        var reader = new FileReader();
        reader.onload = function () {
            var output = document.getElementById('imagePreview');
            output.src = reader.result;
            output.style.display = 'block';             }
        reader.readAsDataURL(event.target.files[0]);
    }
</script>
