@{
    ViewData["Title"] = "Home Page";
    var foto = ViewBag.Foto as string;
}

<div class="text-center">
    <h1 class="text-start mb-3">Página Inicial</h1>

    @if (!string.IsNullOrEmpty(foto))
    {
        <div class="container">
            <div class="row g-4">
                <!-- Espaçamento entre os cards -->

                <div class="col-md-6 col-lg-6">
                    <div class="card h-100">
                        <div class="card-body text-start">
                            <img src="~/img/PessoaIcon.png" class="card-img-top mb-2" alt="Usuário"
                                 style="width: 50px; height: 50px; object-fit: cover;" />
                            <h3>52</h3>
                            <h5 class="card-title">Tutores</h5>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-6">
                    <div class="card h-100">
                        <div class="card-body text-start">
                            <img src="~/img/FuncioIcon.png" class="card-img-top mb-2" alt="Funcionarios"
                                 style="width: 50px; height: 50px; object-fit: cover;" />
                            <h3>120</h3>
                            <h5 class="card-title">Funcionarios</h5>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-6">
                    <div class="card h-100">
                        <div class="card-body text-start">
                            <img src="~/img/PetIcon (1).png" class="card-img-top mb-2" alt="PetsAdocao"
                                 style="width: 50px; height: 50px; object-fit: cover;" />
                            <h3>18</h3>
                            <h5 class="card-title">Animais para adoção</h5>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-6">
                    <div class="card h-100">
                        <div class="card-body text-start">
                            <img src="~/img/VetIcon.png" class="card-img-top mb-2" alt="AnimaisTutores"
                                 style="width: 50px; height: 50px; object-fit: cover;" />
                            <h3>34</h3>
                            <h5 class="card-title">Animais com tutores</h5>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    }
    else
    {
        <p>Você não está logado.</p>
    }


</div>
