@model PainelAdmin.Models.Pet

@{
    ViewData["Title"] = "Novo Animal";
}

<a asp-action="Index" class="text-success voltar" style="float: right; text-decoration: none;">← Voltar</a>
<h2>@ViewData["Title"]</h2>

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-row">
        <div class="form-group form-col">
            <label asp-for="Nome" class="label-custom">Nome *</label>
            <input asp-for="Nome" class="form-control campo-tamanho" />
            <span asp-validation-for="Nome" class="text-danger"></span>
        </div>

        <div class="form-group form-col">
            <label asp-for="Especie" class="label-custom">Espécie *</label>
            <input asp-for="Especie" class="form-control campo-tamanho" />
            <span asp-validation-for="Especie" class="text-danger"></span>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group form-col">
            <label asp-for="Idade" class="label-custom">Idade</label>
            <input asp-for="Idade" class="form-control campo-tamanho" />
            <span asp-validation-for="Idade" class="text-danger"></span>
        </div>

        <div class="form-group form-col">
            <label asp-for="Porte" class="label-custom">Porte *</label>
            <select asp-for="Porte" class="form-control campo-tamanho">
                <option value="">Selecione</option>
                <option>Pequeno</option>
                <option>Médio</option>
                <option>Grande</option>
            </select>
            <span asp-validation-for="Porte" class="text-danger"></span>
        </div>

        <div class="form-group form-col">
            <label asp-for="Sexo" class="label-custom">Sexo</label>
            <select asp-for="Sexo" class="form-control campo-tamanho">
                <option value="">Selecione</option>
                <option>Macho</option>
                <option>Fêmea</option>
            </select>
            <span asp-validation-for="Sexo" class="text-danger"></span>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group form-col">
            <label asp-for="Situacao" class="label-custom">Status *</label>
            <select asp-for="Situacao" class="form-control campo-tamanho">
                <option value="">Selecione</option>
                <option>Disponível</option>
                <option>Adotado</option>
                <option>Em tratamento</option>
            </select>
            <span asp-validation-for="Situacao" class="text-danger"></span>
        </div>

        <div class="form-group form-col">
            <label class="label-custom">Tutor</label>
            <input class="form-control campo-tamanho"/>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Salvar</button>
</form>

@section Scripts {
    @Html.Partial("_ValidationScriptsPartial")
}
